
body, html {
  height: 100%;
}

body {
  background-color: #292929;
  color: rgba(255, 255, 255, 0.8);
  font-family: "Verdana";
  line-height: 200%;
}

h4 {
  font-family: "vampiro_oneregular";
  font-size: 200%;
  color: #F7A127;
  font-weight: bold;
  margin: 8rem 0 1rem 0;
}

.VerticalSection {
  margin-top: 4rem;
}
h4 + .VerticalSection {
  margin-top: 3rem;
}

aside {
  float: right;
  color: rgba(255, 255, 255, 0.4);
  line-height: 100%;
  font-style: italic;
}

strong {
  color: black;
  font-weight: bold;
  background-color: rgba(247, 161, 39, 0.75);
  padding: 0.5rem;
  cursor: crosshair;
}
strong:hover {
  background-color: rgba(247, 161, 39, 1);
}

a, 
a:visited {
  color: white;
  text-decoration: underline;
}
a:hover {
  color: rgb(247, 161, 39);
}


figure {
  text-align: center;
}

figure.u-left {
  margin: 0.5rem 2rem 1rem 0;
}
figure.u-right {
  margin: 0.5rem 0 1rem 2rem;
}

figcaption {
  color: #F7A127;
  font-weight: bold;
  line-height: 100%;
  font-size: 100%;
}

.Page, .Header {
  display: block;
  margin: 0 auto;
  max-width: 700px;
  width: 80%;
}

.Header .Signature {
  display: block;
  max-width: 100%;
}

.Header {
  position: relative;
}

.Header .Bubble {
  position: absolute;
  right: -30px;
  bottom: 30px;
  transform: rotate(-20deg) skew(-8deg);
  -webkit-transform: rotate(-20deg) skew(-8deg);
}

.Bubble {
  width: 200px;
  max-width: 30%;
  border-radius: 100px;
}

.Bubble.Bubble--shadow {
  background-color: #F7A127;
  right: -40px;
  bottom: 20px;
  height: 200px;
}

.List.List--inline li {
  display: inline-table;
}

.List.List--inline.List--delta-bullet li:after {
  content: " ∆ ";
  color: #F7A127;
  font-size: 75%;
}
.List.List--inline.List--delta-bullet li:last-child:after {
  content: "";
}

.List.List--float li {
  float: left;
}

.Thumbnail {
  max-height: 6rem; 
  max-width: 100%;
  vertical-align: middle;
}

.BigRedButton {
  display: inline-block;
  text-decoration: none;
  background-color: tomato;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  color: rgba(255, 255, 255, 0.9);
  font-family: "press_start_2pregular";
  font-size: 200%;
  margin: 4rem 0;
  padding: 2rem;
  border: 0;
  cursor: pointer;
  outline: none;
}
.BigRedButton:hover {
  color: white;
  background-color: salmon;
  transform: scale(1.1, 1.1);
  -webkit-transform: scale(1.1, 1.1);
}
.BigRedButton:active {
  background-color: tomato;
}

.GameStage {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
}

.MessageBox {
  font: 100% press_start_2pregular;
  margin: 2rem auto;
  width: 40rem;
  line-height: 2rem;
}

.MessageBox input {
  position: absolute;
  left: -100%;
  /* border: 0; */
  /* background-color: transparent; */
  /* color: inherit; */
  /* font: inherit; */
  /* width: 32rem; */
}

.u-distribute {
  display: flex;
  max-width: 100%;
}


.u-left,
.u-left {
  float: left;
}

.u-right,
.u-right {
  float: right;
}
p.u-right {
  text-align: right;
}


.u-center {
  text-align: center;
}

.u-nowrap {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.u-inline {
  display: inline-block;
}

.u-clearfix:before,
.u-clearfix:after {
  content: " "; 
  display: table;
}
.u-clearfix:after {
  clear: both;
}

